.fluid { /* (fluid iframe from bymichaellancaster.com) */
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 1px solid black;
}

.fluid iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  margin: 5px;
}

input#copy, input#submit {
  font-size: 1.05em;
}

#event-add-fieldset input, #event-add-fieldset textarea {
  width: 95%; 
  margin-bottom: 12px;
  padding: .4em;
}

#event-add-form {
  height: 100%;
}

#event-add-notes {
  height: 13em;
  resize: vertical;
}

#event-delete-name {
  font-weight: bold;
}
#buttons input {
  margin-right: 10px;
}

.icon-attn {
	float: left; 
	margin: 0 7px 20px 0;
}