body {
  font-family: Arial;
  font-size: 14px;
}
.info-event {
  font-size: 14px;
}

.info-event-title {
  font-size: 16px;
}

.info-event-desc {
  color: black;
  font-weight: bold;
}

.info-event-notes {
  color: black;
}

.dcd-toc {
  font-weight: bold;
  font-size: 19px;
  text-decoration: underline;
}

.dcd-list {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.dcd-events {
  font-weight: bold;
  font-size: 16px;
}

.cal-836634, .dcd-stemee, .set-stemee {
  color: #073763;
}
.cal-979004, .dcd-hs, .set-hs { 
  color: #3d85c6;
}
.cal-836635, .dcd-campus, .set-campus {
  color: #c00000;
}
.dcd-scholarships, .set-scholarships {
  color: #548235;
}

.dcd-research, .set-research {
  color: #00b0f0;
}

.dcd-service, .set-service {
  color: #7030a0;
}

.dcd-birthdays {
  color: #ed7d31;
}

.dcd-lifehacks, .set-lifehacks {
  color: #767171;
}