<html>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>DCD</title>
		<meta charset="utf-8">
		<link href="normalize.css" rel="stylesheet" type="text/css">
		<link href="stemee.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<p>Hi Stem EEs!</p><br>
	<div id="content">
		<span class="dcd-toc">Distill, Condense, Dispense Table of Contents</span><br><br>

		<div class="dcd-events dcd-stemee">
			<span class="dcd-list">STEM Events</span><br>
			<ul class="fetch toc cal-836634 set-stemee count count-reset"></ul>
			<ul class="fetch toc cal-2155517 set-stem count"></ul>
		</div><br>
		
		<div class="dcd-events dcd-hs">
			<span class="dcd-list">Honors & Scholars</span><br>
			<ul class="fetch toc cal-979004 set-hs count count-reset"></ul>
		</div><br>

		<div class="dcd-events dcd-scholarships">
			<span class="dcd-list">Scholarships</span>
			<ul class="toc count count-reset set-scholarships"></ul>
		</div><br>
		
		<div class="dcd-events dcd-research">
			<span class="dcd-list dcd-research">Research</span>
			<ul class="toc count count-reset set-research"></ul>
		</div><br>
		
		<div class="dcd-events dcd-service">	
			<span class="dcd-list">Service</span>
			<ul class="toc count count-reset set-service"></ul>
		</div><br>
		
		<div class="dcd-events dcd-campus">
			<span class="dcd-list">Campus</span>
			<ul class="fetch toc cal-836635 count count-reset set-campus"></ul>
		</div><br>
		
		<div class="dcd-events dcd-birthdays">
			<span class="dcd-list">Birthdays</span><br>
			<span class="toc">Birthdays This Week</span>
		</div><br>
		
		<div class="dcd-events dcd-lifehacks">
			<span class="dcd-list">Life Hacks</span>
			<ul class="toc count count-reset set-lifehacks"></ul>
		</div><br><br>
		
		<span class="dcd-list dcd-stemee">STEM Events</span><br>
		<div class="fetch info cal-836634 count count-reset set-stemee"></div><br>
		<div class="fetch info cal-2155517 count set-stem"></div><br>
		
		<span class="dcd-list dcd-hs">Honors & Scholars</span><br>
		<div class="fetch info cal-979004 count count-reset set-hs"></div><br>
		
		<span class="dcd-list dcd-scholarships">Scholarsips</span><br>
		<div class="info set-scholarships count count-reset"></div><br>
		
		<span class="dcd-list dcd-research">Research</span><br>
		<div class="info set-research count count-reset"></div><br>

		<span class="dcd-list dcd-service">Service</span><br>
		<div class="info set-service count count-reset"></div><br>
		
		<span class="dcd-list dcd-campus">Campus</span><br>
		<div class="fetch info cal-836635 count count-reset set-campus"></div><br>

		<span class="dcd-list dcd-birthdays">Birthdays</span><br><br>
		<div class="info"><span class="info-event-desc"><span class="info-event-title dcd-birthdays">Birthdays This Week: NAMES</span></span><br><span class="info-event-notes">Info</span><br></div><br>
		
		<span class="dcd-list dcd-lifehacks">Life Hacks</span><br>
		<div class="info set-lifehacks count count-reset"></div><br><br>
		
		<p>Have a great week!</p><br><br>
		
		<p><span style="font-weight:bold">Track your programs and service:</span><br>
		&nbsp;‣ <a href="https://osu.az1.qualtrics.com/jfe/form/SV_bBqe4VjmG1cdn9j">Event/Program Log</a><br>
		&nbsp;‣ <a href="https://osu.az1.qualtrics.com/jfe/form/SV_d5saehIb0Z2SNWR">Service Log</a><br><br>
		<span style="font-weight:bold">Be sure to check our <a href="https://teamup.com/kse89a84dcb543ed5e">STEM EE calendar of events</a> frequently!</span><br><br></p>
		
		<br><br>
	</div>
	
	</body>

</html>