<html>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>DCD</title>
		<meta charset="utf-8">
		<link href="normalize.css" rel="stylesheet" type="text/css">
		<link href="stemee.css" rel="stylesheet" type="text/css">
	</head>

	<body>
	<p>Hi Stem EEs!</p>
	<div id="content">
		<span class="dcd-toc">Table of Contents</span><br><br>
		
		<span class="dcd-list dcd-stemee">STEM EE</span><br>
		<ul class="fetch dcd-events toc c836634 count count-reset"></ul>
		<ul class="fetch dcd-events toc c979004 count"></ul>

		
		<br><span class="dcd-list dcd-scholarships">Scholarships</span><br>
		<div class="dcd-events dcd-scholarships">
			<ul class="toc count count-reset"></ul>
			#. ?????
		</div>
		
		<br><span class="dcd-list dcd-research">Research</span><br>
		<div class="dcd-events dcd-research">
			<ul class="toc count count-reset"></ul>
			#. ?????
		</div>
		
		<br><span class="dcd-list dcd-service">Service</span><br>
		<div class="dcd-events dcd-service">
			<ul class="toc count count-reset"></ul>
			#. ?????
		</div>
		
		<br><span class="dcd-list dcd-campus count-reset">Campus</span><br>
		<ul class="toc count count-reset"></ul>
		<ul class="fetch dcd-events toc c836635 count"></ul><br><br>
		
		<span class="dcd-list dcd-stemee">STEM EE</span><br><br>
		<div class="fetch info c836634 count count-reset"></div>
		<div class="fetch info c979004 count"></div>
		
		<span class="dcd-list dcd-campus">Campus Events</span><br><br>
		<div class="fetch info c836635 count count-reset"></div>
	</div>
	
	</body>

</html>