body {
  font-family: Arial;
  font-size: 14.5px;
}
.info-event {
  font-size: 14.5px;
}

.info-event-title {
  font-size: 16px;
}

.info-event-desc {
  color: black;
  font-weight: bold;
}

.info-event-notes {
  color: black;
}

.dcd-toc {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.dcd-list {
  font-weight: bold;
  font-size: 19px;
  text-decoration: underline;
}

.dcd-events {
  font-weight: bold;
  font-size: 16px;
}

.cal-836634, .dcd-stemee, .set-stemee {
  color: #ffc000;
}
.cal-2155517, .set-stem {
  color: #eda12a;
}
.cal-979004, .dcd-hs, .set-hs { 
  color: #7399f9;
}
.cal-2155500, .dcd-2ndyear, .set-2ndyear {
	color: rgb(122, 15, 96);
}
.cal-836635, .dcd-campus, .set-campus {
  color: #c00000;
}

.cal-2193528, .dcd-scholarships, .set-scholarships {
  color: #83ad47;
}

.dcd-research, .set-research {
  color: #00b0f0;
}

.dcd-service, .set-service {
  color: #7030a0;
}

.dcd-birthdays {
  color: #ed7d31;
}

.dcd-lifehacks, .set-lifehacks {
  color: #767171;
}

.social-media-btn {
    height: 60px;
    padding: 1px 10px 1px 9px;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
	text-decoration: none;
}
.twitter-btn {
    background-color: #1b95e0;
}
.facebook-btn {
	background-color: #3a5795;
}